.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;

  
  /* background-color: black; */
}
@media only screen and (max-width: 414px) {
  .profile-container {
    width: 100%;
    height: 10%;
  }
}
.profile-parent {
  display: flex;
  align-items: center;
  color: purple;
}

.profile-details-name {
  font-size: 24px;
  font-family: "Poppins SemiBold";
  color: purple;
}

.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}

.profile-details-role h1 {
  font-size: 32px;
  font-family: "cursive";
  color: silver;
}
@media only screen and (max-width: 414px) {
  .profile-details-role h1 {
    font-size: 25px;
    font-family: "cursive";
  }
}

.primary-text {
  color: purple;
}

.highlighted-text {
  color: rgb(241, 195, 12);
}

.profile-role-tagline {
  font-size: 19px;
  margin: 5px 0 0 0;
  font-family: Poppins Light;
}
@media only screen and (max-width: 414px) {
  .profile-role-tagline {
    visibility: hidden;
    font-size: 19px;
  }
}
.profile-options .btn-highlighted-btn {
  margin: 0 0 0 28px;
  border-radius: 2px;
  padding: 14px 4px;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
  font-size: 12px;
  color: purple;
  border: 2px solid purple;
  background-color: #0b0c0c;
}
.profile-options .btn-highlighted-btn:hover {
  margin: 0 0 0 28px;
  color: aliceblue;
  border: 2px solid #f7e709;
  background-color: #000000;
  transition: all 0.3s linear;
  box-shadow: 2px 5px 3px 0px rgb(255, 255, 255);
}
.profile-options .btn-primary-btn {
  margin: 0 10 0 28px;
  border-radius: 2px;
  padding: 14px 4px;
  width: 140px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
  font-size: 12px;
  color: purple;
  border: 2px solid purple;
  background-color: #0b0c0c;
}
.profile-options .btn-primary-btn:hover {
  margin: 0 10 0 28px;
  color: aliceblue;
  border: 2px solid #f7e709;
  background-color: #000000;
  transition: all 0.3s linear;
  box-shadow: 2px 5px 3px 0px rgb(255, 255, 255);
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 1px 2px 2px purple;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  cursor: pointer;
  margin: 0 0px 0 100px;
}

.profile-picture-background {
  height: 92%;
  width: 92%;
  border-radius: 50%;
  background-image: url("../../../assets/Home/navya2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}

/* IPAD PRO RESPONSIVENESS */
@media only screen and (max-width: 1110px) {
  .profile-picture {
    margin: 0 0px 0 80px;
  }

  .profile-details-name {
    font-size: 20px;
  }

  .profile-details-role .primary-text {
    font-size: 34px;
  }

  .profile-role-tagline {
    font-size: 12px;
  }

  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
}

/* MOBILE RESPONSIVENESS */
@media only screen and (max-width: 910px) {
  .profile-picture {
    margin: 0 0 0 40px;
    height: 320px;
    width: 320px;
  }
}

/* MOBILE RESPONSIVENESS */
@media only screen and (max-width: 810px) {
  .profile-picture {
    margin: 0 !important;
  }

  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }

  .profile-options {
    display: flex;
    justify-content: space-between;
  }

  .profile-details {
    margin: 25px 0 0 0;
  }

  .profile-options .highlighted-btn {
    margin: 0 !important;
  }

  .profile-details-name,
  .profile-details-role {
    text-align: center;
  }
}

/* MOBILE RESPONSIVENESS */
@media only screen and (max-width: 375px) {
  .profile-picture {
    height: 275px;
    width: 275px;
    margin-top: -90px;
  }

  .profile-details {
    width: 95%;
  }
}
.colz {
  color: purple;
}
.colz .colz-icon i {
  color: purple;
  padding: 8px;
  padding-left: 0px;
}
.colz .colz-icon i:hover {
  transform: scale(1.5);
  color: #f7e709;
}
@media only screen and (max-width: 800px) {
  .colz .colz-icon i {
    background-color: lightblue;
    padding: 0px;
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .profile-role-tagline {
  }
}

.profile-role-tagline {
  /* font-family: "Poppins Thin";
  font-family: "Poppins Light"; */
  /* font-family: "Poppins Regular"; */
  font-family: "Poppins Medium";
  opacity: 0.9;
  padding: 0px;
}
