.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0px 20px -2px #07b9e6;
  min-height: 670px;
  background-image: url("../../assets/Home/bg.jpg");
  /* border-radius: 60px; */
}
