.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh !important;
  min-height: 400px;
  /* border: 2px solid purple; */
  background: rgb(5, 5, 70);
  /* background-color: rgb(156, 237, 211); */
  /* background-color: "../assets/Home/Profile/backwallpaper.jpg"; */
}

.icon {
  top: 50%;
  position: absolute;
  text-align: right;
  right: 0;
  width: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 240px;
  z-index: 900;
  position: fixed;
}
@media only screen and (min-width: 475px) {
  .icon {
    margin-bottom: 10px;
  }
}
.icon a {
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 1000;
  padding: 10px;
  font-size: 14px;
  font-family: "oswald", "sans-serif";
  border-radius: 50px 0px 0px 50px;
  transform: translate(150px, 0px);
  transition: all 0.5s;
  z-index: 900;
}
.icon a:hover {
  border: 0.5px solid purple;
  transform: translate(50px, 0px);
}
.icon a i {
  margin-right: 25px;
  background-color: rgb(58, 53, 53);
  height: 30px;
  width: 30px;
  color: rgb(67, 65, 65);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s;
  z-index: 900;
}
.icon a:hover i {
  transform: rotate(360deg);
}

.icon a i.fa-facebook-f {
  color: #2c80d3;

  border-radius: 2px solid white;
}
.icon a i.fa-youtube {
  color: #fa0910;
}
.icon a i.fa-twitter {
  color: #2c80d3;
}
.icon a i.fa-instagram {
  color: purple;
}
.facebook {
  background-color: #1f2235;
  color: white;
}
.instagram {
  color: purple;
}
.twitter {
  color: #53c5ff;
}
