.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
}
.about-me-parent {
  max-width: 1000px;
  width: 100%;
  margin-right: 100px;
}
.about-me-card {
  display: flex;
  width: 1100px;
  box-shadow: 0 0px 40px -2px #07b9e6;
  background-color: rgb(123, 126, 126);
  /* background-color: #555661; */
  border-radius: 25px;
  padding-right: auto;

  /* background-image: url("../../assets/AboutMe/istockphoto.jpg"); */
}
.highlight-heading {
  font-size: 18px;
  color: #aeb109;
  padding-top: 0px;
  padding-bottom: 0px;
}
.about-me-profile {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  background-image: url("../../assets/AboutMe/about.jpg");
  /* box-shadow: 0 0px 30px -2px #06d2fb; */
}
.about-me-details {
  width: 100%;
  text-align: justify;
  padding: 30px;
  padding-bottom: 0%;
}
.about-me-description {
  font-size: 14px;
  color: #0a0a0a;
  /* color: #f5b70d; */
}
.about-me-highlights {
  margin: 30px 0;
}
/* .highlght-heading {
  font-family: "Poppins Bold";
  font-size: 14px;
  margin: 0 0 5px 0;
  color: #09abb1;
} */
.highlight {
  display: flex;
  align-items: center;
  margin: 5px;
  font-size: 12px;
  color: #0a0a0a;
  padding-bottom: 2px;
}

.btn-primary-btn {
  border-radius: 50px;
  margin-top: 30px;
  padding: 14px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
  color: #23e5ff;
  border: 2px solid #23e5ff;
  background-color: rgb(68, 69, 70);
  box-shadow: 0 0px 20px -2px #18def8;
}
.btn-primary-btn:hover {
  color: #f5c21b;
  border: 2px solid #f7e709;
  background-color: #000000;
}
.btn-highlighted-btn {
  margin-left: 28px;
  border-radius: 50px;
  margin-top: 30px;
  padding: 14px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
  color: #23e5ff;
  border: 2px solid #23e5ff;
  background-color: rgb(68, 69, 70);
  box-shadow: 0 0px 20px -2px #18def8;
}
.btn-highlighted-btn:hover {
  margin: 0 0 0 28px;
  color: #f5c21b;
  border: 2px solid #f7e709;
  background-color: #000000;
}

.highlight-blob {
  height: 12px;
  width: 12px;
  margin: 0 10px 0 0;
  background-color: #09abb1;
  border-radius: 50%;
  margin-bottom: 5px;
}
.about-me-options .highlighted-btn {
  margin: 0 0 0 30px;
}

/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1110px) {
  .about-me-parent {
    width: 88%;
  }
}
@media only screen and (max-width: 898px) {
  .about-me-profile {
    display: none;
  }
  .about-me-details {
    width: 100%;
  }
}
@media only screen and (max-width: 466px) {
  .about-me-options {
    display: flex;
    flex-direction: column;
  }
  .about-me-options .highlighted-btn {
    margin: 24px 0 0 0 !important;
  }
  .about-me-options button {
    width: 100%;
  }
}
