/* working fine without hover properties so just will add later if hover functionality dosn't work  */

.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  /* margin: 10px 0 0 0;
  padding-bottom: 30px; */
  /* padding-top: 20px; */
  /* margin: 50px 0 0 0; */
}
.about-me-container :hover {
  background-color: transparent;
  /* border: 20px solid #475535; */
}

.about-me-parent {
  max-width: 1000px;
  width: 70%;
}
.about-me-card {
  display: flex;
  width: 100%;
  box-shadow: 0 0px 30px -2px #e2e0d8;
  background: #475535;
  border-radius: 12px;
  /* border: 10px solid #475535; */
  padding-left: 0px;
  padding-right: 0px;

  /* padding-right: auto; */
  /* border: 3px solid purple; */
  /* border: 3px solid rgb(9, 10, 9); */
}

.highlight-heading {
  font-size: 18px;
  color: burlywood;
  padding-top: 0px;
  padding-bottom: 0px;
}
.about-me-profile {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  background-image: url("../../assets/AboutMe/about.jpg");
  box-shadow: 0 0px 30px -2px silver;
  /* border: 10px solid #475535; */
}
.about-me-details {
  width: 48%;
  text-align: justify;
  padding: 30px;
  /* padding-bottom: 0%; */
}
.about-me-description {
  font-size: 13px;
  color: black;
  /* color: #05899d; */
  /* color: purple; */
}
.about-me-highlights {
  margin: 30px 0;
}

.highlight {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 13px;
  color: black;
  /* padding-bottom: 2px; */
}
/* primary btn styling is not supporting this */
.about-me-options .btn-primary-btn {
  border-radius: 2px;
  padding: 8px 0;
  width: 100px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
  font-size: 12px;
  color: burlywood;
  border: 3px solid #969f8e;
  background-color: transparent;
}

.about-me-options .btn-primary-btn:hover {
  color: burlywood;
  border: 3px solid burlywood;
  background-color: black;
  transition: all 0.3s linear;
  box-shadow: 2px 5px 3px 0px rgb(255, 255, 255);
}
.about-me-options .btn-highlighted-btn {
  margin-left: 28px;
  border-radius: 2px;
  padding: 7px 0;
  width: 100px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
  font-size: 12px;
  color: burlywood;
  border: 3px solid #5d6c4d;
  background-color: #3f4a31;
}

.about-me-options .btn-highlighted-btn:hover {
  color: burlywood;
  border: 2px solid burlywood;
  background-color: #000000;
  transition: all 0.3s linear;
  box-shadow: 2px 5px 3px 0px rgb(255, 255, 255);
}

.highlight-blob {
  height: 10px;
  width: 10px;
  margin: 0 10px 0 0;
  background-color: black;
  border-radius: 50%;
}
.about-me-options .btn-highlighted-btn {
  margin: 0 0 0 30px;
}

/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1110px) {
  .about-me-parent {
    width: 88%;
  }
}
@media only screen and (max-width: 898px) {
  .about-me-profile {
    display: none;
  }
  .about-me-details {
    width: 100%;
  }
}
@media only screen and (max-width: 466px) {
  .about-me-options {
    display: flex;
    flex-direction: column;
  }
  .about-me-options .btn-highlighted-btn {
    margin: 24px 0 0 0 !important;
  }
  .about-me-options button {
    width: 100%;
  }
}
