.resume-container {
  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: fit-content;
  margin: 140px 0 0 0;
  padding: 50px 0 0 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0 px 0;
  padding-bottom: 5px;
  padding-top: 20px;
  /* padding-bottom: 20px; */
  /* background-image: url("../../assets/Home/bg.jpg"); */
}

.resume-card {
  display: flex;
  height: 400px;
  width: 1100px;
  padding-right: 100px;
  box-shadow: 0 0px 30px -2px #07b9e6;
  border-radius: 25px;
  background-color: #969a9b;
  border: 3px solid rgb(9, 10, 9);
}

.resume-bullets {
  box-shadow: 15px 0 9px -15px #f9feff;
  height: 100%;
  width: 300px;
  border-radius: 25px;
}

.resume-bullet-details {
  flex-grow: 1;
  width: 600px;
  overflow: hidden;
  padding: 0 0 0 80px;
}
.experience-container {
  margin: 0px;
  padding: 0;
  overflow-x: hidden;
}

.experience-description {
  margin: 0 10px 30px 0;
  text-align: justify;
}

.resume-description-text {
  font-size: 12px;
}

.resume-details-carousal {
  transition: transform 1s ease-out;
}
.work-experience-container {
  padding-top: 40px;
  padding-bottom: 100px;
}
.education-container {
  padding-top: 20px;
  padding-bottom: 100px;
}
.bullet-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 25px;
  background-color: rgb(123, 126, 126);
  box-shadow: 0 0px 30px -2px #f9feff;
}

.bullets {
  width: 86%;
  position: relative;
  z-index: 2;
}

.bullet {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #1f2235;
  height: 40px;
  margin: 15px 0;
  padding: 0 8px;
  border-radius: 20px;
  width: 30px;
  transition: width 0.6s ease;
}

.bullet-label {
  font-size: 14px;
  white-space: nowrap;
  font-family: "Poppins SemiBold";
}

.bullet-logo {
  height: 16px;
  margin: 0 30px 0 0;
}

.bullet-icons {
  width: 34px;
  height: 100%;
  z-index: 1;
  background-color: #1f2235;
  position: absolute;
  border-radius: 12px;
}

.selected-bullet {
  color: var(--white);
  width: 100%;
}

.resume-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 378px;
  width: 100%;
}
.programming-skills-container {
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 0%;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 220px;
}
.projects-container {
  padding-bottom: 272px;
  padding-top: 0px;
}
.interests-container {
  padding-top: 0px;
  padding-bottom: 380px;
}

.resume-heading {
  display: flex;
  flex-direction: column;
  margin-top: 0%;
}

.resume-main-heading {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.resume-main-heading {
  color: #0adcf3;
  font-size: 18px;
  font-family: "Poppins SemiBold";
}

.experience-description {
  max-width: 100%;
  color: #aeb109;
}

.heading-bullet {
  position: absolute;
  left: -30px;
  height: 10px;
  width: 10px;
  top: 5px;
  border-radius: 50%;
  background-color: #080808;
}

.resume-sub-heading {
  font-size: 16px;
  font-family: "Poppins SemiBold";
  color: #aeb109;
}

.resume-heading-description {
  font-size: 13px;
  text-align: justify;
  padding-right: 15px;
  padding-bottom: 17px;
  padding-top: 0%;
  color: #aeb109;
}

.heading-date {
  background-color: #27e4eb;
  padding: 2px 10px;
  padding-bottom: 4px;
  font-size: 14px;
  border-radius: 14px;
  color: #080808;
  justify-content: space-between;
  display: flex;
}
.git-link {
  color: #aeb109;
}

.skill-parent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40%;
}

.programming-skills-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-percentage {
  position: relative;
  height: 15px;
  width: 80%;
  background-color: #0bbfd3;
  margin-bottom: 20px;
  border-radius: 4px;
}

.skill-percentage .active-percentage-bar {
  height: 15px;
  transition: 0.8s ease;
  position: absolute;
  background-color: #080808;
  border-radius: 4px;
}

.skill-parent span {
  font-family: "Poppins Bold";
  font-size: 16px;
  color: #0bbfd3;
}

/* IPAD PRO RESPONSIVENESS */
@media only screen and (max-width: 1110px) {
  .resume-card {
    width: 880px;
  }

  .resume-bullet-details {
    padding: 0 0 0 70px;
  }
}

/* IPAD RESPONSIVENESS */
@media only screen and (max-width: 1023px) {
  .resume-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bullets {
    width: 90%;
  }

  .resume-card {
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    align-items: center;
    width: 90%;
  }

  .resume-bullet-details {
    height: 360px;
    padding: 0;
    width: fit-content;
  }

  .resume-bullets {
    margin: 30px 0;
    width: 100%;
  }

  .selected-bullet {
    width: 100%;
  }
}
